app-section {
  .outer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px;
    gap: 24px;
    width: 100%;
    overflow: hidden;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    padding: 0px 16px;
    height: 24px;
    align-self: stretch;

    h5 {
      flex-grow: 1;
    }
    
    ng-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 16px;
      align-self: stretch;

      flex-grow: 1;
    }
  }
}
