.btn-dark {
  background-color: map-get($colors, black);
  color: map-get($colors, white);
}

.btn-light {
  background-color: map-get($colors, white);
  color: map-get($colors, secondary);
}

.btn-transparent {
  @extend .btn-dark;
  background-color: transparent;
}

.btn-blue{
    background-color: map-get($colors, primary);
  color: map-get($colors, white);
}