transactions-report {
  width: 100%;
  padding: 0px 16px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 32px;
    gap: 16px;

    background: linear-gradient(
      0deg,
      rgba(42, 177, 243, 0) 0.01%,
      rgba(42, 177, 243, 0.15) 106.15%
    );
    border-radius: 8px;

    width: 100%;

    .data-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0px;
      gap: 16px;

      align-self: stretch;

      .metric-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        flex-grow: 1;

        .data {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0px;
          gap: 4px;

          .label {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            /* identical to box height, or 100% */

            display: flex;
            align-items: center;
            text-align: right;
            letter-spacing: 0.02em;
          }

          .value-text {
            font-size: 22px;
          }
        }

        .bar {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-self: stretch;
          flex-grow: 1;
          background-color: rgba(42, 177, 243, 0.2);
          border-radius: 17px;
          width: 100%;
          height: 100%;
          z-index: 3;

          &.incoming {
            * {
              background-color: map-get($colors, stats-green);
            }
          }

          &.outgoing {
            * {
              background-color: map-get($colors, stats-red);
            }

            justify-content: flex-end;
          }
          .bar-inner {
            width: 30%;
            height: 100%;
            content: "";
            color: transparent;
            border-radius: inherit;
          }
        }
      }
    }
  }

  .right-align {
    align-items: flex-end !important;
  }

  .separator {
    width: 0px;
    border: 1px dashed #c6c6c6;
    align-self: stretch;
  }
}
