.app-navbar {
  --background-color: transparent;
  --background: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;

  h5 {
    text-align: center;
    letter-spacing: 0.02em;

    color: #ffffff;
  }
}
